version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: fashion-shop-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - db_data:/var/lib/mysql

  redis:
    image: redis:7.0
    container_name: fashion-shop-redis
    restart: always
    ports:
      - "${REDIS_PORT}:6379"   # mapping cá»•ng Redis
    volumes:
      - redis_data:/data

  backend:
    build: ./backend
    container_name: fashion-shop-backend
    command: python run.py runserver 0.0.0.0:${BACKEND_PORT}
    volumes:
      - ./backend:/app
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    environment:
      DEBUG: ${DEBUG}
      MYSQL_HOST: db
      MYSQL_PORT: ${MYSQL_PORT}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      REDIS_HOST: redis
      REDIS_PORT: ${REDIS_PORT}
    depends_on:
      - db
      - redis

  frontend:
    build: ./frontend
    container_name: fashion-shop-frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    command: npm run dev -- --host
    depends_on:
      - backend

volumes:
  db_data:
  redis_data:
