.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  z-index: 1000;
  font-family: "Times New Roman", Times, serif;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #222;
  cursor: pointer;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-link {
  font-size: 20px !important;
  font-weight: 600 !important;
  color: #333;
  cursor: pointer;
  position: relative;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #007bff;
}

/* --- DROPDOWN --- */
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 10px); 
    left: 0;
    background: rgb(78, 78, 78) !important;
    border: 1px solid #eee;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: 0;
    width: 150px;
    z-index: 999;
    padding: 0 !important;
    border-radius: 0px !important;
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: all 0.2s ease-in-out; 
    
}

.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-menu li {
  padding: 7px 15px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown-menu li:hover {
  background-color: #f2f2f2;
  color: #000;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.search-box input {
  padding: 7px 28px 7px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  transition: border-color 0.2s;
}

.search-box input:focus {
  border-color: #007bff;
}

.search-icon {
  position: absolute;
  right: 9px;
  top: 20px;
  transform: translateY(-50%);
  color: #555;
  font-size: 14px;
  cursor: pointer;
}

.icon {
  font-size: 18px;
  color: #333;
  cursor: pointer;
  transition: color 0.2s;
}

.icon:hover {
  color: #007bff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
